@import url('./header/header.css');
@import url('./header/header-responsive-mobile.css');
@import url('main/main.css');
@import url('footer/footer.css');

:root {
    --color-white: white;
    --color-white-light: #ccc;
    
    --color-black: rgb(0, 0, 0);
    --color-black-light: rgba(29, 27, 27, 0.4);
    --color-black-light2: rgba(29, 27, 27, 0.8);
    
    /* Cores header */
    --color-header-background: rgba(25, 25, 25, .4);

    /*Cores Footer */

    --color-footer-background: #494646;
    --color-footer-border: #8f8b8b;
    /* Icone Instagram */
    --color-instagram-1: #7f37c9;
    --color-instagram-2: #ff2992;
    --color-instagram-3: #ff9807;

    /* Icone Youtube */
    --color-youtube-1: #ff0000 ;
    --color-youtube-2: #da3939;
    /* Icone Facebook */
    
    --color-facebook-1: #0d2cdc;
    --color-facebook-2: #1d0cd8;
    --color-facebook-3: #2540d6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    font-family: 'Inclusive Sans', sans-serif;
    
    scroll-behavior: smooth;
    transition: .6s;
}


.banner {
    height: 100vh;
    background-image: url('https://scontent.fplu4-1.fna.fbcdn.net/v/t1.6435-9/72046328_739727246454858_5881918593309868032_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=UzT7ckRlREsAX-c6apD&_nc_ht=scontent.fplu4-1.fna&oh=00_AfBTJ86KaVW0aIoweV0sm43wkayVl_IgzLFAlZwSwCzD7g&oe=654A70DB');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


