footer {
    width: 100%;
    height: 300px;
    background-color: var(--color-black-light2);
    color: var(--color-white);

}
footer h1{
    font-size: 25px;
    letter-spacing: 2px;
}
footer .footer-content{
    display: flex;
   
    width: 100%;
    height: 250px;
}

footer .footer-content .footer-redes-sociais{
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
    gap: 80px;
    
}
footer .footer-content .footer-redes-sociais .midias-sociais{
    display: flex;
    gap: 40px;
    
}
footer .footer-content .footer-redes-sociais .midias-sociais a{
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--color-white-light);
    color: var(--color-black-light2);
    opacity: .5;
    transition: .6s;
    cursor: pointer;
}
footer .footer-content .footer-redes-sociais .midias-sociais a:hover{
    opacity: 1;
}
footer .footer-content .footer-contacts{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

}
footer .footer-content .footer-contacts .footer-contacts-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-top: 2rem;
    
    gap: 30px;
}
footer .footer-content .footer-container-studes{
    width: 45%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
    gap: 30px;

    
}
footer .footer-content .footer-container-studes ul{
    display: flex;
    flex-direction: column;

    gap: 30px;
    color: white;
    
}
footer .footer-content .footer-container-studes ul li{
    list-style: none;
}


footer .footer-content .footer-container-studes ul li a{
    text-decoration: none;
    color: var(--color-white-light);
    cursor: pointer;
}
footer .footer-content .footer-container-studes ul li a:hover{
    color: var(--color-white);
}
footer .footer-content .footer-container-studes ul li a p::before {
    content: url(./icon-list-footer/list-style-footer.png);
    margin-right: 10px;
}

footer .footer-copy-right{
    width: 100%;
    height: 49px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--color-white-light);
}