header {
    width: 100%;
    height: 70px;
    position: fixed;

}
.rolagem {
    background-color: var(--color-black-light);
}

/* Header-Content */
.header-content {
    width: 100%;
    height: 100%;
    
    background-color: var(--color-header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    /*  Logo */
    .header-content .logo {
        width: 25%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-content .logo img {
        width: 110px;
        height: 60px;
    }

    /* End Logo */

    /* Navigation-Header */
    .navigation-header {
        width: 50%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-left: 1px solid var(--color-white-light);
        border-right: 1px solid var(--color-white-light);
    }

        .navigation-header ul {
            width: 100%;
            height: 100%;

            list-style: none;

            display: flex;
            align-items: center;
            justify-content: center;

            gap: 120px;
        }

        /* HOME */
        .navigation-header ul .li-header-content-home {
            padding: 15px 20px;
            border-radius: 15px;
            background-color:  var(--color-white-light);

        }
        .navigation-header ul .li-header-content-home a {
            text-decoration: none;
            font-size: 20px;
            color: var(--color-white);

            transition: .6s;
        }
        .navigation-header ul .li-header-content-home a:hover {
            color: var(--color-black-light);
        }
        /* End HOME */

        /* li-header-content // Sobre and Novidades */

        .navigation-header ul .li-header-content {
            font-size: 20px;
        }
        .navigation-header ul .li-header-content a {
            text-decoration: none;
            color: var(--color-white);
            
            transition: .6s;
        }
        .navigation-header ul .li-header-content a:hover {

            color: var(--color-black-light);
            
        }

        /* End  li-header-content // Sobre and Novidades */

    /* End Navigation-Header */

/* End Header-Content*/

/* Social-Networks */

.social-networks {
    width: 25%;
    height: 100%;
}
    /* Social-Networks // Instagram, Youtube and Facebook */
    .social-networks ul {
        width: 100%;
        height: 100%;

        list-style: none;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 60px;

    }
    .social-networks ul .li-social-network {
        font-size: 25px;
        transition: .5s;

    }
    .social-networks ul .li-social-network:hover {
        transform: translateY(-5px);
    }

    .social-networks ul .li-social-network a {
        color: var(--color-white);
        opacity: .6;
        transition: .6s;
    }
    .social-networks ul .li-social-network a:hover {
        opacity: 1;
    }
    /* End Social-Networks // Instagram, Youtube and Facebook */

/* End Social-Networks*/

/* Display's None // Mobile */

.btn-Sidebar {
    display: none;    
}
.header-content-mobile {
    display: none;
}

