@import url('./header-mobile/header-mobile.css');

header {
    width: 100%;
    height: 70px;
    position: fixed;
}

.Menu-descktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, .4) fixed;
}
.logo-menu {
    margin-left: 60px;
    border-right: 2px solid #ccc;
    
}

.logo-mobile-menu {
    display: none;
}
.logo-menu .img-logo {
    height: 60px;
    width: 110px;
    opacity: .7;
    transition: .3s;
}
.logo-menu .img-logo:hover {
    opacity: 1;
    cursor: pointer;
}

.content-menu {
    width: 1000px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.content-menu ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: 200px;
}
.content-menu ul .li-content .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 10px;
}
.content-menu ul .li-content .content {
    font-size: 20px;
    color: white;
    transition: .6s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.content-menu ul #home {
    width: 90px;
    height: 100%;
    display: flex;
    gap: 5px;
    border-radius: 10px;
    background: #ccc;
}
.content-menu ul .li-content .content:hover {
    color: rgb(59, 74, 74);
    cursor: pointer;
}
.redes-sociais{
    height: 60px;
    width: 200px;
    margin-right: 60px;
    border-left: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-sociais ul {
    list-style: none;
    display: flex; 
    gap: 40px;
    margin-left: 10px;
}
.redes-sociais ul .li-redes-sociais {
    text-decoration: none;
    font-size: 25px;
    opacity: .7;
    transition: .4s;

}
.redes-sociais ul .li-redes-sociais:hover{
    transform: translateY(-5px);
    opacity: 1;
}
.redes-sociais ul .li-redes-sociais a {
    color: white;
}

/*Menu Mobile Reponsivo*/
.btn-sidebar {
    display: none;
}
.menu-mobile {
    display: none;
}

@media screen and (max-width:1100px) {
    .content-menu {
        display: none;
    }
    .redes-sociais {
        display: none;
    }
    .btn-sidebar{
        display: block;
        font-size: 30px;
        margin: 60px;
        color: white;

        transition: .6s;
    }
    .btn-sidebar:hover {
        color: rgb(69, 76, 81);
        cursor: pointer;
    }
    .menu-mobile.ativo {
        display: block;
        display: flex;
        justify-content: right;
        margin: 0;
        transition: .8s;

    }
    .menu-mobile ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
        background: #ccc;
        border-bottom: 2px solid #8a6c6c;
        border-bottom-left-radius: 10px;

        
    }
    .menu-mobile ul .li-content-mobile {
        
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        
    }
    .menu-mobile ul .li-content-mobile:hover {
        background: #635858;
        border-bottom-left-radius: 10px;
    }
    .btn-sidebar.ativo{
        transform: rotate(180);
    }
    .ativo {
        display: block;
    }
}
